{% extends 'base.html' %}

{% block body %}
<div class="container">
<h1>Welcome</h1>
<p>You can Login here!</p>
<h2>Login</h2>
<form method="post"> <!-- Django needs cross site request forgery token (CSRF)  to make sure that the data submitted through the form is secure and is less susceptible to malicious attacks  -->
	{% csrf_token %}
	{{ form.as_p }} <!-- form rendered as paragraph(p). We will get option to enter username and password, also the bootstrap is working from base.html-->
	<button type="submit">Login</button>
</form>
</div> 
{% endblock %}